@import "vars";

@media (max-width: 37rem) {
	.container {
		padding: 0 3rem;
		&--header {
			grid-template-columns: minmax(0, 10rem) minmax(1rem, 1fr);
			grid-auto-rows: 6rem;
			> nav {
				> ul {
					> li {
						padding-bottom: 0.5rem;
						> a {
							margin-right: 3rem;
							font-size: 1.4rem;
							
						}
					}
				}
			}
		}
	}
}