$openSans-Regular: "OpenSans-Regular", sans-serif;
$openSans-Bold: "OpenSans-Bold", sans-serif;
$raleway-Regular: "Raleway-Regular", sans-serif;
$raleway-Bold: "Raleway-Bold", sans-serif;

$accent: orange;
$fa-font-path: "/fonts/webfonts";
//font size
$base_size: 10px;

$intro_bg: hsl(217, 28%, 15%);
$main_bg: hsl(218, 28%, 13%);
$footer_bg: hsl(216, 53%, 9%);
$testimonials_bg: hsl(219, 30%, 18%);
// for gradient start
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
//end gradient
$error: hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);