@use "sass:list";
@use "sass:math";
@import "normalize";
@import "vars";
@import "fonts";
@import "libs";
//@use "sass:math";
::placeholder {
	color: #666;
}
::selection {
	background-color: $accent;
	color: #fff;
}
:focus-visible {
	outline-offset: 0;
	outline: none;
}
:root {
	font-size: $base_size;
}
h1,h2,h3,h4,h5,h6,p {
  font-weight: 400;
}
body {
	font-size: 1.4rem;
	color: $white;
	font-family: $openSans-Regular;
	background-color: $intro_bg;
	overflow-x: hidden;
	margin: 0;
	display: grid;
	grid-template-rows: min-content 1fr;
	grid-template-areas: 
	'header'
	'intro'
	'content'
	'sub'
	'footer';
}
header {
	grid-area: header;
	margin-bottom: 5rem;
}
main {
	grid-area: content;
	align-items: center;
	grid-template-rows: minmax(0, 50rem) minmax(0, 50rem) minmax(0, 50rem) minmax(0, 15rem);
}	

.grid {
	display: inline-grid;
}
.flex {
	display: flex;
}
.container {
	max-width: 144rem;
	padding: 0 7rem;
	&--header {
		grid-template-columns: minmax(0, 20rem) minmax(1rem, 1fr);
		grid-auto-rows: 10rem;
		max-width: 100%;
		> :first-child {
			align-self: end;
		}
		> nav {
			align-self: end;
			justify-self: end;
			> ul {
				display: flex;
				list-style-type: none;
				padding: 0;
				margin: 0;
				> :last-child > a {
					margin-right: 0;
				}
				> li {
					padding-bottom: 0.8rem;
					> a {
						text-decoration: none;
						color: darken($white, 25%);
						margin-right: 4.5rem;
						font-size: 1.7rem;
						transition: color 400ms linear;
						&:hover, &:focus {
							color: $white;
						}
					}
				}
			}
		}
	}
	&--main {
		max-width: 100%;
		background-color: $main_bg;
	}
}
.one {
	grid-area: intro;
	grid-template-areas: 
	'image'
	'content';
	grid-template-rows: minmax(0, 45rem) minmax(0, 34rem);
	position: relative;
	&::after {
		content: "";
    background: url(../../img/bg-curvy-desktop.svg) no-repeat center top;
    height: 27rem;
    max-width: 100%;
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    right: 0;
		left: 0;
		z-index: 1;
	}
	> picture {
		grid-area: image;
		justify-self: center;
		align-self: end;
		background-size: contain;
		width: 55%;
	}
	> article {
		grid-area: content;
		justify-self: center;
		text-align: center;
		z-index: 10;
		> h1 {
			font-size: 3.5rem;
			margin: 0 auto;
			max-width: 65rem;
			padding-bottom: 4rem;
		}
		> p {
			font-size: 1.7rem;
			line-height: 1.4;
			max-width: 50rem;
			margin: 0 auto;
			padding-bottom: 3rem;
		}
		> button {
			cursor: pointer;
			padding: 1.4rem 7rem;
			border-radius: 3em;
			box-shadow: none;
			border: none;
			color: $white;
			background: #2e3192; 
			background: linear-gradient(to right,  $cyan 1%,$blue 100%);
		}
	}
}
.two {
	margin-top: 1px;
	grid-template-columns: repeat(2, minmax(0, 55rem));
	grid-template-rows: repeat(2, minmax(0, 19rem));
	gap: 6rem 0rem;
	justify-content: center;
	> div {
		justify-items: center;
		align-items: start;
		text-align: center;
		> picture {
			padding-bottom: 0.8rem;
		}
		> p {
			color: darken($white, 25%);
			margin-top: -0.5rem;
			max-width: 33rem;
			font-size: 1.3rem;
		}
	}
}
.three {
	grid-template-columns: repeat(2, minmax(0, 55rem));
	gap: 2rem;
	justify-content: center;
	align-items: center;
	> picture {
		max-width: 95%;
	}
	> article {
		h2 {
			font-size: 3.2rem;
			padding-bottom: 2.8rem;
		}
		p {
			color: darken($white, 25%);
			padding-bottom: 1.4rem;
			max-width: 54rem;
			font-size: 1.6rem;
		}
		p + p {
			padding-bottom: 2.8rem;
		}
		a {
			color: $cyan;
			text-decoration: none;
			border-bottom: 1px solid $cyan;
			display: inline-block;
			padding-bottom: 4px;
		}
	}
}
.four {
	grid-template-columns: (repeat(3, minmax(0,35rem)));
	grid-template-rows: 17rem;
	justify-content: center;
	gap: 4rem;
	> article {
		display: grid;
		justify-content: space-between;
		background-color: $intro_bg;
		padding: 3.5rem 2.5rem 1.3rem;
		> p {
			font-size: 1.2rem;
		}
		> .grid {
			&--thumbs {
				width: 100%;
				grid-template-columns: 3rem 1fr;
				align-items: center;
				gap: 0.75rem;
				> .thumb {
					width: 3rem;
					height: 3rem;
					overflow: hidden;
					border-radius: 50%;
					> img {
						height: 100%;
						margin: 0 auto;
					}
				}
				> .info {
					> h4 {
						font-size: 1.2rem;
						font-family: $raleway-Bold;
						margin: 0;
						padding-bottom: 0.35rem;
					}
					> p {
						font-size: 1rem;
						line-height: 1.4;
						color: darken($white, 25%)
					}
				}
			}
		}
	}
}
.subscribe {
	justify-content: center;
	margin-bottom: -9rem;
	z-index: 3;
	.ower{
		grid-area: sub;
		justify-items: center;
		align-items: center;
		z-index: 3;
		max-width: 86rem;
		height: 20rem;
		background-color: $testimonials_bg;
		z-index: 2;
		> h2 {
			font-weight: bold;
			align-self: end;
			font-size: 2.7rem;
		}
		> p {
			padding: 0 15rem;
			font-size: 1.3rem;
			text-align: center;
			line-height: 1.6;
		}
		> form {
			align-self: start;
			> input {
				padding: 1.4rem 2.2rem;
				border-radius: 3em;
				margin-right: 2rem;
				min-width: 48rem;
				&::placeholder {
					color: lighten($intro_bg, 70%);
					font-size: 1.1em;
				}
			}
			> button {
				cursor: pointer;
				padding: 1.4rem 2.2rem;
				border-radius: 3em;
				box-shadow: none;
				border: none;
				color: $white;
				background: #2e3192; 
				background: linear-gradient(to right,  $cyan 1%,$blue 100%);
			}
		}
	}
	
}
.container--footer {
	grid-area: footer;
	grid-template-rows: minmax(0, 19rem) minmax(0, 23rem);
	z-index: 2;
	background-color: $footer_bg;
	max-width: 100%;
	padding: 2rem 34rem 0;
	> .footer-logo {
		align-self: center;
	}
	> .footer-info {
		grid-template-columns: minmax(0, 36rem) minmax(0, 20rem) minmax(0, 23rem) minmax(0, 17rem);
		justify-content: space-between;
		.icon {
			display: block;
			width: 8rem;
			padding-right: 5rem;
			img {
				width: 2rem;
				height: 2rem;
			}
		}
		.tel {
			padding-bottom: 4rem;
			> .icon {
				width: 5rem;
				padding-right: 0;
			}
			> a {
				text-decoration: none;
				color: $white;
				font-size: 1.4rem;
				cursor: pointer;
			}
		}
		.mail {
			> .icon {
				width: 5rem;
				padding-right: 0;
			}
			> a {
				text-decoration: none;
				color: $white;
				font-size: 1.4rem;
				cursor: pointer;
			}
		}
		.footer-navigation {
			ul {
				margin: 0;
				padding: 0;
				width: 100%;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: repeat(4, minmax(0,3.7rem));
				
				li {
					list-style-type: none;
					a {
						text-decoration: none;
						color: $white;
						font-size: 1.6rem;
					}
					&:nth-child(1) {
						grid-area: 1 / 1 / 2 / 2;
					}
					&:nth-child(2) {
						grid-area: 2 / 1 / 2 / 2;
					}
					&:nth-child(3) {
						grid-area: 3 / 1 / 3 / 3;
					}
					&:nth-child(4) {
						grid-area: 4 / 1 / 4 / 4;
					}
					&:nth-child(5) {
						grid-area: 1 / 2 / 2 / 2;
					}
					&:nth-child(6) {
						grid-area: 2 / 2 / 3 / 3;
					}
					&:nth-child(7) {
						grid-area: 3 / 2 / 4 / 4;
					}
				}
				
			}
			
		}
		.soc-box {
			.soc-box-item {
				margin-right: 1.6rem;
				i {
					padding: 0.7rem;
					font-size: 1.4rem;
					width: 1.4rem;
					text-align: center;
					text-decoration: none;
					border-radius: 50%;
					outline: 2px solid $white;
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
@import "media";