@import "normalize";
@import "vars";
@import "fonts";
@import "libs";
::placeholder {
	color: #666;
}
::selection {
	background-color: $accent;
	color: #fff;
}
:focus-visible {
	outline-offset: 0;
	outline: none;
}
:root {
	font-size: $base_size;
}
h1,h2,h3,h4,h5,h6,p {
  font-weight: 400;
}
body {
	font-size: 1.4rem;
	color: $white;
	font-family: $openSans-Regular;
	background-color: $intro_bg;
	overflow-x: hidden;
	margin: 0;
	display: grid;
	grid-template-rows: min-content 1fr;
	grid-template-areas: 
	'header'
	'content'
	'footer';
}
header {
	grid-area: header;
	margin-bottom: 5rem;
}
main {
	grid-area: content;
}
footer {
	grid-area: footer;
}
.grid {
	display: inline-grid;
}
.container {
	max-width: 144rem;
	padding: 0 7rem;
	&--header {
		grid-template-columns: minmax(0, 20rem) minmax(1rem, 1fr);
		grid-auto-rows: 10rem;
		> :first-child {
			align-self: end;
		}
		> nav {
			align-self: end;
			justify-self: end;
			> ul {
				display: flex;
				list-style-type: none;
				padding: 0;
				margin: 0;
				> :last-child > a {
					margin-right: 0;
				}
				> li {
					padding-bottom: 0.8rem;
					> a {
						text-decoration: none;
						color: darken($white, 25%);
						margin-right: 4.5rem;
						font-size: 1.7rem;
						transition: color 400ms linear;
						&:hover, &:focus {
							color: $white;
						}
					}
				}
			}
		}
	}
	&--main {
		max-width: 100%;
		background-color: $intro_bg;
	}
}
.one {
	grid-template-areas: 
	'image'
	'content';
	grid-template-rows: minmax(0, 45rem) minmax(0, 34rem);
	position: relative;
	&::after {
		content: "";
    background-image: url(../../img/bg-curvy-desktop.svg);
    height: 29rem;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
		left: 0;
		z-index: 1;
	}
	> picture {
		grid-area: image;
		justify-self: center;
		align-self: end;
		background-size: contain;
		width: 55%;
	}
	> article {
		grid-area: content;
		justify-self: center;
		text-align: center;
		z-index: 10;
		> h1 {
			font-size: 3.5rem;
			margin: 0 auto;
			max-width: 65rem;
			padding-bottom: 4rem;
		}
		> p {
			font-size: 1.7rem;
			line-height: 1.4;
			max-width: 50rem;
			margin: 0 auto;
			padding-bottom: 3rem;
		}
		> button {
			cursor: pointer;
			padding: 1.4rem 7rem;
			border-radius: 3em;
			box-shadow: none;
			border: none;
			color: $white;
			background: #2e3192; 
			background: linear-gradient(to right,  $cyan 1%,$blue 100%);
		}
	}
}
@import "media";